[Desktop Entry]
Name=Tribe
GenericName=Installation
GenericName[ca]=Instal.lació
GenericName[es]=Instalación
GenericName[fr]=Installation
GenericName[gl]=Instalación
Exec=/usr/share/tribe/scripts/run-tribe.sh
Icon=tribe
Type=Application
Terminal=false
Categories=Qt;System;
